<%= tinymce_assets %>
<div>
<form action="/seminar/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input name="title" type="text" class="form-control" placeholder="enter title">
    </div>
    <div class="form-group">
        <input name="speecher" type="text" class="form-control" placeholder="enter speecher">
    </div>
    <div class="form-group">
        <textarea name="content" class="tinymce" rows="10"></textarea>
    </div>
    <div class="form-group">
        <input name="date" type="date" name="bday">
    </div>
    <div class="form-group">
        <input name="file" type="file">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
<%= tinymce %>