<div class="container login">
  <div class="col-md-7 col-md-offset-2">
    <div class="panel panel-default login login">
      <div class="panel-body login">
          <h1 class="text-center"><a class="brand" href="/">16P.M.</a></h1>