<div>
<form action="/bulletin/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input name="title" type="text" class="form-control" placeholder="enter title">
    </div>
    <div class="form-group">
        <textarea name="content" class="form-control" rows="10" placeholder="enter text"></textarea>
    </div>
    <div class="form-group">
        <input name="file" type="file">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>