<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/intro">동아리 소개</a></li>
      </ul>
      <a class="navbar-brand" href="/">16P.M.</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/intro">동아리 소개</a></li>
        <li><a href="/journal">회지</a></li>
        <li><a href="/seminar/regular">정모세미나</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">분과세미나<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/seminar/math">수학</a></li>
            <li><a href="/seminar/physics">물리</a></li>
          </ul>
        </li>
        <li><a href="/bulletin">게시판</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="/signout">로그아웃</a></li>
        <% else %>
          <li><a href="/signin">로그인</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>